@keyframes slide {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }	
}

@keyframes slide-sidebar {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }	
}