$primary-green-light: rgb(0, 187, 211) !default;
$primary-green-dark:rgb(69, 89, 99) !default;
$nav-light:rgb(205, 215, 219) !default;

* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 0;
    scroll-behavior: smooth;
    width: 100%;
}

body {
    background-color: red;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
    height: 100vh;
    letter-spacing: 0.03rem;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
}